@import "tailwindcss";

@theme {
  --font-sans: var(--font-en);
  --font-ka: var(--font-ka);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #080808;
  --foreground: #ededed;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #080808;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.animate-pulse-slow {
  animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}